<html>



<i class="fas fa-star"></i>
<i class="far fa-star"></i>
here

<link rel="stylesheet" href="/css/cstyle.css">
<script src="https://kit.fontawesome.com/cab24c7935.js"></script>
Average Rating:
<div id="averagerate"></div>
Number of customers rated:
{{nocustomer}}
<script>
var totalstar=5;
var crate=parseInt({{average}});
var leftrate=5-parseInt({{average}});
var stars=document.createElement("ul");
  stars.setAttribute("id","stars");
var ratingstars=document.createElement("div");
  ratingstars.setAttribute("id","ratingstars");
    //colourstar.appendChild(stars);
  for(var g=0;g <crate; g++){
    var colourstar=document.createElement("i");
  colourstar.setAttribute("class","fas fa-star");
    stars.appendChild(colourstar);
  }
  for(var c=0;c<leftrate;c++){
    var nocolourstar=document.createElement("i");
  nocolourstar.setAttribute("class","far fa-star");
    stars.appendChild(nocolourstar);
  }

ratingstars.appendChild(stars);
var Average=document.getElementById("averagerate");
Average.appendChild(ratingstars);
</script>

{{shopp.id}}
{{shopp.name}}
price:{{shopp.price}}
<form action="../addtocartt/{{shopp.id}}" method="post">
<label class="font-italic" for="quantity">Quantity:</label><br>
  Quantity: <input type="number" name="quantity" min="1" max={{shopp.quantity}} value="1">{{shopp.quantity}}
<label class="font-italic" for="remark">Remark:</label><br>
  remark: <input name="remark" rows="1" cols="5" >
 {{!-- <select name="quantity">
   
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="fiat" selected>Fiat</option>
    <option value="audi">Audi</option>
  </select> --}}


  <button type="submit">Add to Cart</button>
</form>

Review:
{{#if feedbackk}}

				{{#each feedbackk}}
       

<script>
var totalstar=5;
var crate=parseInt({{rate}});
var leftrate=5-parseInt({{rate}});
var stars=document.createElement("ul");
  stars.setAttribute("id","stars");
var ratingstars=document.createElement("div");
  ratingstars.setAttribute("id","ratingstars");
    //colourstar.appendChild(stars);
  for(var g=0;g <crate; g++){
    var colourstar=document.createElement("i");
  colourstar.setAttribute("class","fas fa-star");
    stars.appendChild(colourstar);
  }
  for(var c=0;c<leftrate;c++){
    var nocolourstar=document.createElement("i");
  nocolourstar.setAttribute("class","far fa-star");
    stars.appendChild(nocolourstar);
  }

ratingstars.appendChild(stars);
var displayingfeedback=document.getElementById("displayingfeedback");
displayingfeedback.appendChild(ratingstars);
</script>


<div id="displayingfeedback">  









      Name:  {{Cuser.name}}
        {{!-- /\{{CuserId}} --}}



        {{Message}}

        {{#if imageurl}}
              
							<img src="{{imageurl}}" alt="Poster unavailable" class="img-thumbnail img-fluid">
						
            {{/if}}
            </div>
				{{/each}}
				{{/if}}





{{!-- <script>

name="heloo";

</script> --}}


{{!-- {{user.email}}

{{#if shopp}}
there is something

{{#each shopp}}
    {{name}}
    hekdklv
    {{#if }}
    hiii
    {{else}}
    byeeee
    {{/if}}
{{/each}}

{{else}}
noting
{{/if}} --}}
</html>