hiiii

{{shopp.id}}
{{shopp.name}}
price:{{shopp.price}}
<form action="../addtocartt/{{shopp.id}}">
  Quantity (between 1 and 5): <input type="number" name="quantity" min="1" max={{shopp.quantity}}>
  <input type="submit">
</form>
{{!-- <script>

name="heloo";

</script> --}}


{{!-- {{user.email}}

{{#if shopp}}
there is something

{{#each shopp}}
    {{name}}
    hekdklv
    {{#if }}
    hiii
    {{else}}
    byeeee
    {{/if}}
{{/each}}

{{else}}
noting
{{/if}} --}}