WISHLISTTTTTTTT
{{#if wish}}
there is something
<ul>
    {{#each wish}}
        
<li class="itemboxhome">


{{form.itemName}}
<br>
${{form.price}}
<br>


<a href="../shopping/deletewishlist/{{id}}" id='cart-item-remove' class="cart-item-remove">
<i class="fas fa-trash"></i></a>

                <br>




    </li>

{{emailfeedback}}

{{/each}}
</ul>

{{else}}

nothing
{{/if}}


